# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.ProjectJarvis.iml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/ProjectJarvis.API/bin
/ProjectJarvis.API/obj
/ProjectJarvis.Core/bin
/ProjectJarvis.Core/obj